:root {
    --background-color:  #EDEEF0;
    --hover-color: #f5f5f5;
    --hover-color-darkgrey: #e1e3e6;
    --text-color-grey: #818c99;
    --text-color-darkgrey: #626d7a;
    --text-color-blue: #346297;
    --btn-background-grey: #dae2ea;
    --btn-background-darkgrey: #939393;
    --btn-background-lightblue: #e5ebf1;
}