@import 'libs/bootstrap-reboot.min';
@import 'libs/font';

@import 'base/variables';
@import 'base/mixins';

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body {
   background-color: var(--background-color);
}

.container {
    max-width: 1106px;
    margin: 0 auto;
    padding: 0 15px;
}

.space {
    position: relative;
    margin-top: 48px;
}

.wrapper {
    display: grid;
    grid-template-columns: 550px 345px;
    grid-template-rows: minmax(32px, auto);
    column-gap: 16px;
    row-gap: 16px;
    // display: flex;
    &__column1 {
        grid-template-columns: 1fr;
        // grid-template-rows: minmax(52px, 433.5px);
        grid-template-rows: 433.5px 52px 150px;
        display: grid;
        row-gap: 16px;
    }
    &__column2 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, minmax(32px, auto));
        display: grid;
        row-gap: 16px;
    }
}

.divider {
    margin: 9px 8px 9px 36px;
    width: 120px;
    height: 0.5px;
    background-color: #dce1e6;
}

@import 'blocks/header';
@import 'blocks/sidebar';
@import 'blocks/top-block';
@import 'blocks/music';
@import 'blocks/subscribe';
@import 'blocks/friends';
@import 'blocks/dialogs';
@import 'blocks/gifts';
@import 'blocks/yourcontent';
@import 'blocks/communities';
