@import 'libs/bootstrap-reboot.min';
@import 'libs/font';

@import 'base/variables';
@import 'base/mixins';

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body {
   background-color: var(--background-color);
}

.container {
    max-width: 1106px;
    margin: 0 auto;
    padding: 0 15px;
}


.divider {
    margin: 9px 8px 9px 36px;
    width: 120px;
    height: 0.5px;
    background-color: #dce1e6;
}

@import 'blocks/header';
@import 'blocks/sidebar';
@import 'blocks/top-block';