    .sidebar {
        padding: 12px 0 10px;
        width: 164px;
        &__nav {

        }
        &__list {
            margin-right: 8px;
            list-style-type: none;
            padding-left: 0;
        }
        &__link {
            display: flex;
            padding: 0 6px;
            text-decoration: none;
            border-radius: 4px;
            height: 30px;
            &:hover {
                cursor: pointer;
                background-color: var(--hover-color-darkgrey);
            }
        }
        &__img {
            padding-top: 0px;
            margin-right: 10px;
            svg path {
                color: #447BBA;
            }
        }
        &__text {
            padding-top: 5px;
            font-size: 13px;
            color: #000;
        }
        &__footer {
            width: 140px;
            line-height: 19px;
            padding: 14px 0px 4px;
            font-size: 12px;
            text-align: left;
            &_item {
                padding-right: 10px;
                text-decoration: none;
                color: var(--text-color-grey);
                &:hover {
                    text-decoration: underline;
                }
                &:nth-child(4) {
                    position: relative;
                    &:after {
                        display: block;
                        content: '';
                        position: absolute;
                        top: 7px;
                        left: 30px;
                        background: url('../img/icons/sidebar/arrow2.png');
                        background-size: 7px 4px;
                        width: 7px;
                        height: 4px;
                    }
                }
            }
        }
        &__divider {
            margin-left: 0;
            width: 100%;
        }
    }
    